.header {
  background-color: var(--color3);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: var(--hg-header);
  padding: 0 20px 0 20px;
}

.container-profile {
  z-index: 1;
}
@media (min-width: 450px) {
  .container-profile {
    display: flex;
  }
}

.card-flex {
  display: flex;
  align-items: center;
}
h2 {
  color: #fff;
  text-align: center;
}

.left-side-inbox {
  border-right: 1.5px solid;
  border-image-slice: 1;
  border-image-source: var(--color-side);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ce3e', endColorstr='#68ffa2',GradientType=1 );
  flex-basis: 50%;
}
