.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 110px;
  padding: 0 20px 0 20px;
}
.container-profile {
  display: flex;
 
}
.card-flex {
  display: flex;
  align-items: center;
}
h2 {
  color: #fff;
  text-align: center;
}

.left-side-inbox{
  flex-basis: 40%;
}