.main{
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
}
.new-message {
        width:70%;
    margin: auto;
}
.form-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}
.form-message {
    width:100%;
    border: 1px solid black;
    background-color: white;
}
.form-button {
    display: grid;
    place-content: center;
}
#textinput {
    width: 100%;
}