.card-header {
  text-align: center;
}
.card {
  height: calc(100vh - 110px);
  background-color: var(--main);
  color: #fff;

  overflow-y: auto;
}

.card-body {
  cursor: pointer;
  padding: 20px;
  height: 100px;
  border-top: 1.5px solid;
  border-image-slice: 1;
  border-image-source: var(--color-primary);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ce3e', endColorstr='#68ffa2',GradientType=1 );
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.card-body:last-of-type {
  border-bottom: 1px solid;
}
.card-body:hover {
  background-color: rgb(73 73 73);
}
.card-container-pic {
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.card-text {
  text-align: start;
  width: 150px;
  margin-left: 1.5rem;
}
.card-name {
  margin: 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.card-last-messsage-text {
  font-size: 14px;
  margin: 10px 0 0 0;
}
.messageButton {
  width: 100%;
  text-align: end;
  text-decoration: none;
}

.messageButton img {
  width: 30px;
  height: 30px;
}
.card-arrow-right {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}
.card-arrow-right svg {
  font-size: 24px;
}
.card-arrow-right p {
  margin: 10px 0 0 0;
  font-size: 12px;
}

.new-chat-input {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  width: 80%;
  border: none;
  height: 35px;
  /* border-bottom: 2px solid rgba(255,255,255,0.8); */
  outline: none;
}

.error-input {
  border-bottom: 2px solid rgba(255, 85, 85, 0.548);
}
