.card-header{
    text-align: center;
}
.card {
    border: 1px solid bisque;
    background-color: var(--main);
    padding: 2rem;
}
.card-body{
    background-color: var(--amarillo-mensajes);
    border: 1px solid goldenrod;
    margin-top: 0.5rem;
}
.card-body:hover{
    background-color: var(--color2);
}
.card-text  {
    text-decoration: none;
    color: black;
}
.messageButton {
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;
}