.profilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.perfilImg {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.perfilImg {
  display: flex;
  flex-direction: row;
  height: 61px;
  width: 61px;
}
.close-profile {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.753);
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-name: open;
  animation-name: open;
}
@-webkit-keyframes open {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.335);
  }
}
@keyframes open {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.335);
  }
}
.cardProfile {
  z-index: 100;
}

.containerProfile {
  background-color: var(--main);
  border-right: 1.5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to bottom,
    rgba(104, 255, 162, 1) 0%,
    rgba(249, 206, 62, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ce3e', endColorstr='#68ffa2',GradientType=1 );
}
