.main{
    background-color: whitesmoke;
    width: 90%;
    height:70vh;
    margin: auto;
    padding: 5%;
}
.main-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.message-header {
    display: flex;
    column-gap: 3rem;
}
.respond {
    display: grid;
    place-content: center;
}